header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 21px;
    width: 960px;
    padding: 0 10px;
}

.menu {
    height: 108px;
    width: 279px;
    background-color: #777777;
}

.header-contact {
    padding-right: 22px;
    width: 513px;
    height: 108px;
    background-color: #777777;
    text-align: right;
    color: white;
}

.contact-container {
    height: 58px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header a:hover, header a:link, header a:visited {
    color: white;
}

.header-contact p {
    margin: 0;
}

.container {
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 21px;
    margin-bottom: 21px;
}

.container-middle {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.container-middle img {
    width: calc((100% - 100px)/5);
    margin: 10px 0;
    margin-right: 20px;
}

body {
    font-size: 14px;
    margin: 0 auto;
    margin-top: 24px;
    width: 980px;
    color: white;
    font-family: Arial;
    line-height: 22px;
    font-weight: 400;
}

.sidebar-item {
    background-color: #777777;
    color:white;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    margin-left: 20px;
}

hr {
    width: 960px;
    /* color: #696969;
    background-color: #696969;
    border: none;
    height: 2px; */
}

.gray-bg {
    background-color: #dcdcdc;
    color: #848484;
}

footer {
    width: 960px;
    margin: 0 auto;
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    height: 180px;
    margin-top: 21px;
    margin-bottom: 25px;
}

.footer-container {
    background-color: #777777;
    width: 297px;
}

.footer-right-item {
    background-color: #777777;
    height: 75px;
}

.footer-list-left {
    display: flex;
    flex-flow: column wrap;
    height: 150px;
    margin-top: 18px;
    
}

.footer-list-left li {
    height: 20px;
    list-style-type: none;
}

.footer-container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-container-left {
    padding: 0;
}

.container-upper {
    padding: 10px;
    padding-left: 22px;
    margin-bottom: 19px;
}

b {
    color: #777777;
}

.container-bottom {
    display: flex;
    justify-content: space-between;
}

.content-bottom {
    width: 370px;
    height: 200px;
}

.content-bottom p {
    hyphens:initial;
    margin: 24px 18px 0 23px;
    text-align: justify;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.footer-container-middle ul li {
    list-style-type:square;
}

.container-upper li {
    list-style-type: square;
}

aside li {
    list-style-type: none;
}

.sidebar-item h4 {
    margin-left: 13px;
    margin-top: 19px;
    margin-bottom: 0;
    font-weight: 700;
}

.sidebar-item ul {
    margin-left: 13px;
    padding: 0;
    margin-top: 0;
}

